body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #222;
	padding: 10px;
}

a {
	color: #0000ff;
}

h1 {
	font-size: 30px;
	span {
		font-size: 30px;
		font-weight: bold;
		color: #3F79C2;
	}
}

h2 {
	font-size: 20px;
	border-bottom: 1px dashed #aaaaaa;
}

h3 {
	font-size: 18px;
}

#history {
	> li {
		margin-bottom: 20px;
		margin-left: 10px;
		font-weight: bold;
	}
}

ul {
	padding-left: 20px;
	&.updates {
		padding-top: 5px;
		li {
			font-weight: normal;
			font-size: 14px;
			padding-bottom: 2px;
		}
	}
}

li {
	span {
		font-weight: normal;
		font-size: 14px;
	}
}

.sidebox {
	float: right;
	width: 550px;
	padding-left: 20px;
	background-color: #ffffff;
	.small {
		width: 450px;
	}
}

.box {
	border: 1px solid #3F79C2;
	background-color: #DAE5F3;
	padding: 10px;
	margin-bottom: 10px;

	.tip {
		border-color: #3FC254;
		background-color: #D6F7DE;
	}

	h3 {
		margin-top: 0px;
	}

	h4 {
		margin: 0px;
	}

	p {
		margin: 5px 0px;
		font-size: 14px;
	}

	ul {
		margin-top: 5px;
		li {
			font-size: 14px;
			a {
				font-size: 13px;
			}
		}
	}

}

#noshow {
	border: 1px solid #cc0000;
	background-color: #ff9b9b;
	font-weight: bold;
}